body {
  padding: 0;
  padding-top: 100px;
}

.container-fluid {
  padding: 0px;
}

.carousel-inner {
    max-height: 85vh;
    width: 100vw;
}

.menu-pic {
  height: 150px;
  border-radius: 100%;
}

#byob {
  border: 2px solid #d9534f;
  border-radius: 3%;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:50px; /* this needs to be bigger than footer height*/
}

footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
} 

.btn-link {
  white-space: normal;
;
}