<nav class="nav p-2 mb-3">
    <a class="navbar-brand disabled" href="/">Cats of the World</a>
    <a class="nav-link" href="/breeds">All Cats</a>
    <a class="nav-link" href="/breeds/<%= randNum %>">Random Cat</a>
    <a class="nav-link" href="/contact">Contact</a>
    <a class="nav-link" href="/chat">Chat</a>            
</nav>