h1 {
    text-align: center;
    color: navy;
}

#frontImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50%;
}

ul {
    list-style: none;
    text-align: center;
}

.card {
    max-width: 400px;
}



.fact {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    padding: 10px;    
}

nav {
    background-color: darkgrey;
}

nav > a {
    color: white;
}

h3 {
    color: navy;
}

.content {
    min-height: calc(100vh - 50px);
}

.page-footer {
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    text-align: right;
}

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
}

.recent {
    padding: 10px 40px 60px;
	margin: 10px 0px 60px;
}

i {
    color: lightgray;
}