h1 {
    text-align: center;
    color: navy;
}

#frontImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

ul {
    list-style: none;
    text-align: center;
}

.card {
    max-width: 400px;
}

.card-columns, .bg {
    background-color: lightgray;
}