body {
    margin: 0;
}

#table {
    background-color: rgb(0, 125, 88);
    height: 100vh;
    width: 100vw;
    border-radius: 0 0 50% 50%;
    border-bottom: 3em solid #180D01;
    
}

.container-fluid {
    padding: 0;
    height: 100vh;
    background: repeating-linear-gradient( 45deg, rgb(192, 66, 85), rgb(192, 66, 85) 30px, rgb(87, 1, 33) 30px, rgb(87, 1, 33) 60px);
}

#dealer-name {
    position: absolute;
    top: 2%;
    left: 10%;
}

img {
    max-height: 230px;
}

#player-name{
    position: absolute;
    left: 10%;
    top: 50%;
}

#player-hand {
    margin-top: 13%;
}

#dealer-hand {
    padding-top: 1%;
}