body {
    margin: 0;
    height: 100vh;
}

#table {
    background-color: rgb(0, 125, 88);
    height: 100vh;
    width: 100vw;
    border-radius: 0 0 50% 50%;
    border-bottom: 3em solid #180D01;
}

.container-fluid {
    padding: 0;
    height: 100vh;
    background: repeating-linear-gradient( 45deg, rgb(192, 66, 85), rgb(192, 66, 85) 30px, rgb(87, 1, 33) 30px, rgb(87, 1, 33) 60px);
}

#dealer-name {
    position: absolute;
    top: 2%;
    left: 5%;
}

img {
    max-height: 230px;
    border-radius: 6%;
}

#player-name {
    position: absolute;
    left: 5%;
    top: 50%;
}

#player-hand {
    margin-top: 13%;
}

#dealer-hand {
    padding-top: 1%;
}

.buttons {
    position: absolute;
    top: 80%;
    width: 100vw;
}

button {
    margin: .5rem;
}

#bust,
#dbust {
    color: white;
}

#red {
    background-color: rgb(248, 92, 99);
}

#blue {
    background-color: rgb(141, 177, 233);
}

#green {
    background-color: rgb(109, 205, 159);
}

.chip {
    color: white;
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 100%;
    padding: 20px 0;
    margin: 0;
}

#moneyAmount {
    color: white;
    position: absolute;
    bottom: 2%;
    right: 2%;
    background-color: rgb(192, 66, 85);
    border: 3px solid rgb(87, 1, 33);
}

@media only screen and (max-width: 600px) {
    #table {
        background-color: rgb(0, 125, 88);
        border-radius: 0;
        border-bottom: 0;
    }
    .chip {
        height: 100px;
        width: 100px;
        display: block;
        float: right;
        border-radius: 100%;
        font-size: 3rem;
    }
    #moneyAmount {
        position: absolute;
        top: 0%;
        right: 0%;
        height: 4rem;
        background-color: rgb(192, 66, 85);
        border: 3px solid rgb(87, 1, 33);
        font-size: 3rem;
    }
    #dealer-name {
        position: absolute;
        top: 0%;
        left: 1%;
        font-size: 3rem;
    }
    #player-name {
        position: absolute;
        left: 1%;
        top: 40%;
        font-size: 3rem;
    }
    .buttons {
        position: sticky;
        bottom: 0%;
        width: auto;
    }
    button {
        width: 33%;
        margin: 0;
    }
    img {
        max-height: 25vh;
    }
    #player-hand {
        position: absolute;
        top: 42%;
    }
    #dealer-hand {
        position: absolute;
        top: 10%;
    }
    #bust, #dbust {
        font-size: 1rem;
    }
}