

body {
    margin: 0;
}

header {
    background-color: rgb(216, 24, 21);
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

img {
    width: 100%;
    padding-top: 110px;
}

li {
    list-style-type: none;
    padding: 1em;
    margin: 0;
    color: white;
    display: inline;
}

#title {
    color: white;
    padding-left: 1em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 50vh;
}

i {
    font-size: 30vh;
    color: white;
}

h2 {
    color: white;
    font-size: 5vh;
}

.tile {
    max-width: 25%;
}

footer {
    background-color: rgb(0, 162, 151);
    height: 5vh;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1em;
}

@media screen and (max-width: 420px){
    img {
        padding-top: 40vh;
    }   
    .tile {
        min-width: 90vw;
    } 
    .container {
        flex-flow: column nowrap;
    }
}